body {
  padding: 0 1.5rem;
  color: rgb(153, 9, 9);

  h1#popup-title {
    text-align: center;
    border-bottom: 1px solid #444;
  }

  #content {
    font-size: 1.5rem;
    color: rgb(153, 9, 9);
    background-color: rebeccapurple;
  }
}